# To ignore OS temporary files use global .gitignore
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

/composer.lock
/composer.build.json
/composer.build.lock
/docroot
/dpc-sdp
.env.local
docker-compose.override.yml
screenshots
vendor
