# Ignore files for distribution archives.
.gitattributes            export-ignore
.gitignore                export-ignore
.github                   export-ignore
.ddev                     export-ignore
composer.json             export-ignore
